
button.quizOption {
	height: 40px;
	width: 80vw;
	background-color: aqua;
	color: black;
}

button.quizOption:hover {
	height: 40px;
	width: 80vw;
	background-color: blue;
	color: white;
}

h1.left_sided {
	text-align: left;
	font-family: monospace;
	font-weight: bolder;
}


#question_image {
	width: 80vw;
	height: 40vh;
	object-fit: contain;
}
